#nav-table{
    width: 1024px;
}
#nav-td{
    width: 341px;
    text-align: center;
}
body{
    background-color:rgb(87,63,41);
}
#welcome-header{
    color:floralwhite;
}
p{
    color:rgb(200, 192, 192)
}
#center-div{
    display: flex;
    justify-content: center;
}